@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Prompt',sans-serif;
}

    body{
    background: linear-gradient(135deg,#FFE4EC,#FFF0F5,#FFF8FD);
    background-size:400% 400%;
    animation:bgmove 12s ease infinite;
}

@keyframes bgmove{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}
}

header{
    width:100%;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:white;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:30px;
    font-weight:bold;
    color:#ff69b4;
}

nav a{
    text-decoration:none;
    margin-left:15px;
    color:#777;
    font-weight:500;
    transition:.3s;
}

nav a:hover{
    color:#ff69b4;
}

.hero{
    padding:80px 10%;
    text-align:center;
}

.hero img{
    width:220px;
    height:220px;
    border-radius:50%;
    object-fit:cover;
    border:8px solid white;
    box-shadow:0 15px 30px rgba(255,105,180,.3);
}

.hero h1{
    margin-top:20px;
    color:#ff4fa0;
    font-size:45px;
}

.hero p{
    margin-top:10px;
    font-size:20px;
}

.btn-group{
    margin-top:35px;
}

.btn{
    display:inline-block;
    padding:15px 28px;
    margin:10px;
    border-radius:40px;
    background:#ff69b4;
    color:white;
    text-decoration:none;
    transition:.35s;
    font-size:18px;
    box-shadow:0 10px 20px rgba(255,105,180,.3);
}

.btn:hover{
    transform:translateY(-5px);
    background:#ff4fa0;
}

.container{
    width:90%;
    max-width:1100px;
    margin:50px auto;
}

.card{
    background:white;
    padding:30px;
    margin:20px 0;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.card h2{
    color:#ff69b4;
    margin-bottom:15px;
}

footer{
    margin-top:50px;
    text-align:center;
    padding:20px;
    background:white;
}

.social{
    margin-top:20px;
}

.social a{
    display:inline-block;
    margin:10px;
    padding:12px 18px;
    background:#ff69b4;
    color:white;
    border-radius:30px;
    text-decoration:none;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.gallery img{
    width:100%;
    border-radius:15px;
    transition:.4s;
}

.gallery img:hover{
    transform:scale(1.05);
}

table{
    width:100%;
    border-collapse:collapse;
}

td,th{
    padding:15px;
    border-bottom:1px solid #eee;
}

th{
    background:#ffd8ea;
}

.fade{
    animation:fade 1s;
}

@keyframes fade{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
